<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/estilo.css">
</head>
<body1>
    <!--Header-->
    <header>
        <div class="navbarnavbar">
            <div class="menu containercont">
                <a href="#" class="logo"> <img src="../img/logo.png" width="180" alt="Logo"> </a>
                <input type="checkbox" id="menu" />
                <label for="menu">
                    <img src="../img/menu.png" class="menu-icon" alt="">
                </label>
                <nav class="navbarlist">
                    <ul>
                        <li><a href="../../index.html">INICIO</a></li>
                        <li><a href="../views/productos.html">PRODUCTOS</a></li>
                        <li><a href="../views/sobrenosotros.html">SOBRE NOSOTROS</a></li>
                        <li><a href="#">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--Formulario de contacto-->
    <section class="container-form">
        <div class="container-form">
            <div class="info-form">
                <h2>Contactanos</h2>
                <p>Escribenos tus dudas o consultas por aquí y te responderemos a la brevedad.</p>
                <a href="#"> <img src="../img/correo-electronico-vacio.png" width="20px" alt="">di.agustinavernetti@gmail.com</a>
                <a href="../views/Agustina Vernetti on Behance.html"> <img src="../img/behance.png" width="20px" alt=""> Behance </a>
                <a href="../views/(4) Agustina Vernetti _ LinkedIn.html"> <img src="../img/linkedin (1).png" width="20px" alt="">Linkedin</a>
            </div>
            <form action="#" autocomplete="off" >
                <input type="text" name="nombre" placeholder="Ingresa tu nombre" class="campo">
                <input type="email" name="email" placeholder="Ingresa tu mail" class="campo">
                <textarea name="mensaje" placeholder="Ingresa tu mensaje"></textarea>
                <input type="submit" name="enviar" value="enviar mensaje" class="btn-enviar">
            </form>
        </div>
    </section>
     <!--Pie de pagina-->
  <footer class="pie-pagina">
    <div class="grupo-01">
      <div class="box">
        <figure>
          <a href="#">
            <img src="../img/logo.png" alt="LogoBlooming">
          </a>
        </figure>
      </div>
      <div class="box">
        <h4>SOBRE NOSOTROS</h4>
        <p>Somos una marca que desarrolla productos para personas con escoliosis reciclando denim.</p>
      </div>
      <div class="box">
        <h4>SIGUENOS</h4>
        <div class="red-social">
          <a href="../views/Agustina Vernetti on Behance.html"> <img src="../img/behance.png" alt="bh" width="20px" > </a>
          <a href="../views/(4) Agustina Vernetti _ LinkedIn.html"> <img src="../img/linkedin (1).png" width="20px" alt="linkedin"> </a>
        </div>
      </div>
    </div>
    <div class="grupo-02">
      <small>&copy;2023 <b>Agustina Vernetti</b> - Todos los Derechos Reservados</small>
    </div>
  </footer>
</body1>
</html>