<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body1>
      <!--Header y navbar-->
      <header>
        <div class="navbarnavbar">
            <div class="menu containercont">
                <a href="#" class="logo"> <img src="../img/logo.png" width="180" alt="Logo"> </a>
                <input type="checkbox" id="menu" />
                <label for="menu">
                    <img src="../img/menu.png" class="menu-icon" alt="">
                </label>
                <nav class="navbarlist">
                    <ul>
                        <li><a href="../../index.html">INICIO</a></li>
                        <li><a href="#">PRODUCTOS</a></li>
                        <li><a href="../views/sobrenosotros.html">SOBRE NOSOTROS</a></li>
                        <li><a href="../views/contacto.html">CONTACTO</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <!--Title-->
    <section class="title">
        <h1>Productos</h1>
    </section>
    <!--Card bootstrap-->
    <section class="row">
        <div class="card" style="width: 18rem;">
            <img src="../img/modelo1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vestido denim</h5>
              <p class="card-text">Vestido corto realizado con denim reciclado y teñido artesanalmente.</p>
              <a href="#" class="btn-btn-primary">Detalles</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../img/modelo2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Top denim</h5>
              <p class="card-text">Top realizado con denim reciclado y teñido artesanalmente.</p>
              <a href="#" class="btn-btn-primary">Detalles</a>
            </div>
          </div>
    </section>
     <!--Pie de pagina-->
     <footer class="pie-pagina">
        <div class="grupo-01">
          <div class="box">
            <figure>
              <a href="#">
                <img src="../img/logo.png" alt="LogoBlooming">
              </a>
            </figure>
          </div>
          <div class="box">
            <h4>SOBRE NOSOTROS</h4>
            <p>Somos una marca que desarrolla productos para personas con escoliosis reciclando denim.</p>
          </div>
          <div class="box">
            <h4>SIGUENOS</h4>
            <div class="red-social">
              <a href="../views/Agustina Vernetti on Behance.html"> <img src="../img/behance.png" alt="bh" width="20px" > </a>
              <a href="../views/(4) Agustina Vernetti _ LinkedIn.html"> <img src="../img/linkedin (1).png" width="20px" alt="linkedin"> </a>
            </div>
          </div>
        </div>
        <div class="grupo-02">
          <small>&copy;2023 <b>Agustina Vernetti</b> - Todos los Derechos Reservados</small>
        </div>
      </footer>
</body1>
</html>